.card {
  position: relative;
  display: block;
  margin: 16px 0;
  overflow: hidden;
  background: #fff;
  color: #212121;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
  mex-height: 20vh;
}

.card__header {
  padding: 16px 32px;
  border-bottom: 1px solid #eee;

  h1 {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.card__content {
  padding: 16px 32px;
}

.speaker__image {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff no-repeat, no-repeat 50% 50%, 50% 50%;
  background-size: cover;
  margin: 0 32px 0 0;
}

.sessions__details {
  span {
    margin-right: 16px;
    line-height: 24px;
  }
}

.pull-left {
  float: left;
}
