* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-smoothing: antialiased;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'Share', cursive;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  background-color: #e7e7e7;
}

.container {
  display: flex;
  > .twitter {
    margin: 16px;

    iframe {
      height: calc(100vh - 32px) !important;
    }
  }

  > .session-app {
    margin: 0 16px 16px;
    flex: 1;
  }
}
